.header_calculadora {
  display: flex;
  align-items: center;
  height: 80px;

}

.header_calculadora i {
  font-size: 25px;
  background: #fff;
  border-radius: 50%;
  padding: 20px;
  margin: 0 15px;
}

.text_header_calculadora {
  margin-left: 5px;
  color: #fff;

}
