p {
    background-color: rgb(177, 223, 242);
    display: flex;
    border-left: 2px solid blue; 
    height: 100px;
    margin: auto;
    align-items:center;
    justify-content:center; 
}

h1 {
    color: white;
    background-color: rgb(9, 9, 85);
    height: 80px;
    display: flex;
    margin: auto;
    align-items:center;
    justify-content:center; 
    margin-bottom: 10px;
}